body {
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  background-color: #f6fff8;
}

.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
}
